.scoreCalculator{
    text-align: center;
    padding-bottom: 2rem;
}
.scoreCalculator > p{
    font-size: 30px;
    font-weight: bolder;
    padding: 2rem;
}
.techniqueTiles{
    padding-top: 5rem;
    text-align: center;
    width: 100vw;
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-column-gap: 3.5rem;
    grid-row-gap: 3rem;
    position: relative;
}
